<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vallagtesena">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spoilers_logo_round"
        android:label="Spoilers"
        android:roundIcon="@mipmap/spoilers_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vallagtesena"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SearchSeriesActivity"
            android:exported="false" />
        <activity
            android:name=".searchMainActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".search_bar"
            android:exported="false" />
        <activity
            android:name=".movieSearch"
            android:exported="false" />
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".baymax"
            android:exported="false"
            android:label="Recently Watched"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".series_watchlist"
            android:exported="false"
            android:label="Series Watchlist"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".series_wishlist"
            android:exported="false"
            android:label="Series Wishlist"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".series_suggestions"
            android:exported="false"
            android:label="Series Suggestions"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".dark"
            android:exported="false"
            android:label="Recently Watched"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".wishlist"
            android:exported="false"
            android:label="Movie Wishlist"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".suggestions"
            android:exported="false"
            android:label="Movie Suggestions"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".Watchlist"
            android:exported="false"
            android:label="Movie Watchlist"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".SeriesList"
            android:exported="false"
            android:label="Series List"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".movielist"
            android:exported="false"
            android:label="Movie List"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".homepage"
            android:exported="false"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".signup"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>